.clhome-background {
  background-color: #f0f0f0; /* Solid color */
  background-image: url("D:\Pradosh\studies\gym poject\MacBook Air - 4.png"); /* Image background */
  background-size: contain; /* Ensures the entire image is visible */
  background-repeat: no-repeat;
  background-position: center center; /* Center the image horizontally and vertically */
  height: 100vh; /* Cover the full viewport height */
  width: 100%; /* Cover the full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
}
